body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;

}
.calculator{
    background-color: hsl(0, 0%, 15%);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#display{
    width: 100%;
    padding: 30px;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    text-align: left;
    font-size: 5rem;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hwb(240 0% 10% / 0.288);

}
button:active{
    background-color: hwb(240 0% 40% / 0.63);
}

.operator-btn{
    background-color: rgba(255, 99, 71, 0.493);
}
.operator-btn:hover{
    background-color: rgba(255, 99, 71, 0.733);
}
.operator-btn:active{
    background-color: tomato;
}