body{
    padding: 100px;
}
.submit-area{
    margin-top: 150px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;

}
#transaction-area{
    display: none;
}
.status{
    color: whitesmoke;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: tomato;
}
.balance{
    background-color: blue;
}