*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: whitesmoke;
}

.calculator-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
}

table{
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.123);
    border: 2px solid;
    border-collapse: collapse;
}

td{
    text-align: center;
    color: rgba(0, 0, 0, 0.555);
    border: 2px solid black;
}

input[type ="button"]{
    width: 90px;
    height: 80px;
    color: white;
    background-color: black;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input[type ="button"]:hover{
    background-color: blueviolet;
    outline: none;
}

input[type ="text"]{
    height: 80px;
    width: 340px;
    text-align: right;
    margin: 10px;
    padding: 2px;
    outline: none;
    border: none;
    font-size: 30px;
}